.text{
  font-size: 1.3em;
  text-align: start;
  padding: 0.8em 2em 0 2em;
  display: flex;
  gap: 2rem;
   
}

.text p{
  text-indent: 2em;
}

.text span{
  font-weight: 400;
}

.blog{
  color: #32174d;
  text-decoration: underline;
  font-size: 1.7em;
  margin-top: 20px;
}

.name{
  font-size: 1.3em;
  padding: 10px;
}