.text{
  font-size: 1.3em;
  padding: 0.8em 2em 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
   
}

.text p{
  text-indent: 18px;
}

.projects {
  text-align: center;
}

.blog{
  color: #0f5257;
  text-decoration: underline;
  font-size: 1.7em;
  margin-top: 2em;
}

.post{
  font-size: 1.3em;
  padding: 10px 0 15px 0;
}