.header{
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  padding: 30px;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.profile {
  border-radius: 900px;
}

.name{
  color: #88498f;
  text-align: center;
}

.footer{
  margin-left: 5em;
}

.goBack{
  display: flex;
  align-items: center;
  gap: 7px;
}